select{
    background-color: white;
    font-size: 15px;
    color: black;
    border-color: blue;
    text-align: center;
    position: relative;
    left: 25px;
  }
  
  li {
    font-family: Lato;
    font-size: 15px;
  }
  p{
    font-size: 35px;
  }