
<select [(ngModel)]="chosenYear" >
  <option value=-1>-- choose year --</option>
  <option *ngFor="let year of years">
    {{ year }}
</option>
</select><br>
<select [(ngModel)]="chosenMake" >
  <option value="">-- choose make --</option>
  <option *ngFor="let make of makes">
      {{ make }}
  </option>
</select>
<br>
<button type="button" (click)="getModels()">get Models</button>
<table style="width:100%">
  <th>id</th>
  <th>year</th>
  <th>make</th>
  <th>model</th>
    <tr *ngFor="let model of models">
      <td>{{ model.id}}</td>

      <!--<div *ngIf="todo.assignedTo==null">
        <select ng-options="person.name for person in people">
        </select>
      </div>-->
      <td>{{ model.year }}</td>
      <td>{{ model.make }}</td>
      <td>{{ model.model }}</td>
    </tr>
</table>
<div *ngIf="(page!==0)">
  <button type="button" (click)="previous()">Previous</button>
</div>
<div *ngIf="(test.length!=0)">
<button type="button" (click)="next()">Next</button>
</div>